$rubik: "Rubik", sans-serif;
$poppins: "Poppins", sans-serif;

.banner-adoptanos {
    background-color: rgba(201, 193, 230, 0.5);

    h2 {
        font-size: 40px;
        font-family: $poppins;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        font-family: $rubik;
    }
}

.caja-adoptanos {
    border: 10px solid white;
    height: 167px;
    width: 167px;
    border-radius: 5px;

    .contador {
        font-weight: 700;
        font-size: 32px;
        justify-content: center;
        margin: 2%;
        text-align: center;
        font-family: $poppins;
    }

    .texto-caja-adoptanos {
        font-size: 22px;
        text-align: center;
        font-family: $rubik;
        line-height: 26px;
    }
}


.boton-filtro {
    background-color: #2D2E6F;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    width: 183px;
    transition: .3s;
    font-family: $rubik;
    font-size: 20px;
}

.boton-filtro:hover {
    transform: scale(1.03);
}

.contenedor-ficha {
    border: 10px solid #2D2E6F;
    border-radius: 5px;
    padding: 30px;

    .contenido-ficha {
        background-color: rgba(159, 160, 248, 0.6);
        border-radius: 5px;
        text-align: start;
        line-height: 40px;
        max-height: 40vh;
        width: 54vh;

        .titulo-ficha {
            font-size: 32px;
            font-weight: 600;
            font-family: $poppins;
        }

        .texto-ficha {
            font-size: 16px;
            font-family: $rubik;

        }
    }
}
@media only screen and (max-width: 768px) {
    .contenedor-ficha{
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 5%;
        margin-left: 5px;
    }
  .contenedor-ficha .contenido-ficha {
    height: 50vh;
  }

}

.imagen-ficha {
    border-radius: 5px;
    height: 40vh;
    width: 50vh;
}
#enviar{
    border-radius: 18px;
    border-color: #2D2E6F;
    background-color: #2D2E6F;
    color: white;
    font-family: $rubik;
    padding: 15px;
    transition: .3s;
}
#enviar:hover{
    box-shadow: 0 0 10px 1px #17184e;
}
.form-label{
    color: #2D2E6F;
    font-family: $rubik;
}
.slider-adoptanos{
    .slick-list{
        left: 3%;
    }
}
.slick-arrow i{
    color: #2D2E6F;
    transition: .3s
}
.slick-arrow i:hover{
    transform: scale(1.5);
    color: black;
}
.boton-adoptanos-form{
    background-color: #2D2E6F;
    color: white;
    border-radius: 50px;
    width: 183px;
    transition: .3s;
    font-family: $rubik;
    font-size: 18px;
}
.boton-adoptanos-form:hover{
    scale: (1.05);
}