.card-adoptanos{
  background-color: #C9C1E6;
  padding: 10px;
  transition: .3s;
  width: 20vh;
  height: 50vh;
}
.boton-card-adoptanos{
  text-decoration: none;
}
.card-adoptanos:hover{
  box-shadow: 0 0 10px 1px #8972dd;
}
.card-titulo-adoptanos{
  font-size: 20px;
  font-weight: 600;
}
.card-titulo-adoptanos span{
  font-size: 14px;
}
.texto-card-adoptanos{
  font-size: 16px;
}
.pagination{
  display: flex;
  justify-content: end;
}
.page-numbers{
  padding: 0 20px;
  color: #2D2E6F !important;
  font-family: 'Rubik', sans-serif !important;
  text-decoration: none !important;
  font-size: 22px;
}
.next, .prev{
  border: 2px #2D2E6F solid !important;
  padding: 2px 10px;
  border-radius: 5px;
  transition: .3s;
}
.next:hover, .prev:hover{
  transform: scale(1.03);
}